{% extends "SiwappCoreBundle::base.html.twig" %}
{% trans_default_domain 'SiwappOrderBundle' %}

{% block actionlink %}
<a href="{{ path('order_add') }}" class="btn btn-default btn-primary">
  <span class="glyphicon glyphicon-plus"></span>
  {% trans %}menu.order_add{% endtrans %}
</a>
{% endblock %}

{% block searchform %}
  {% include "SiwappOrderBundle:Order:search.html.twig" with {'form': search_form} %}
{% endblock %}

{% block body %}
  <div id="invoices-latest-recurring-invoices">
    {% include "SiwappOrderBundle:Order:list.html.twig" %}
  </div>
{% endblock %}
